@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.portifolio{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 10%;
}

.portifolio__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.portifolio__conteudo__titulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 20px;
}

.portifolio__conteudo__paragrafo{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #F6F6F6;
}

.portifolio__conteudo__titulo--texto-destaque {
    color: #22D4FD;
}

.portifolio__conteudo__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.portifolio__conteudo__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.portifolio__conteudo__links__botao{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    color: #F6F6F6;
    text-decoration: none;
    width: 378px;
    padding: 21.5px 0;
    border: 2px, solid, #22D4FD;
    border-radius: 8px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.portifolio__conteudo__links__botao:hover{
    background-color: #272727;
}

.portifolio__imagem{
    border-radius: 10px;
    width: 448px;
    height: 550px;
    align-self: center;
}